<div class="card shadow border-0 me-1" *ngIf="info">
  <div class="image-section">
    <img
      class="card-img-top"
      src="{{ info.image }}"
      alt="{{ info.title }}"
      onerror="this.src='/assets/img/default.webp'" />
    <!--<span class="top-left">Here's the overlay text</span>-->
    <span *ngIf="info.price !== 0" class="bottom-left">{{ info.price }}</span>
  </div>

  <div class="card-body mt-2">
    <app-badge
      *ngFor="let badge of info.tags"
      [label]="badge.label"
      [backgroundColor]="badge.color"></app-badge>

    <span class="text-decoration-none link-dark stretched-link"
      ><h5 class="card-title mb-3">{{ info.title }}</h5></span
    >
    <p class="card-text mb-0">
      {{ info.description }}
    </p>
    <br />

    <a
      *ngIf="info.externalRouter !== '-'"
      [href]="info.externalRouter"
      target="_blank"
      class="stretched-link btn btn-anartz contact"
      >{{ buttonLabel }}</a
    >
  </div>
  <!--
    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
      <div class="d-flex align-items-end justify-content-between">
        <div class="d-flex align-items-center">
          <img
            class="rounded-circle me-3"
            src="https://dummyimage.com/40x40/ced4da/6c757d"
            alt="..."
          />
          <div class="small">
            <div class="fw-bold">Kelly Rowan</div>
            <div class="text-muted">
              March 12, 2021 &middot; 6 min read
            </div>
          </div>
        </div>
      </div>
    </div>-->
</div>
