<section class="py-5">
    <div class="container px-5">
        <div class="text-center mb-2">
            <h1 class="fw-bolder">Trabajando en...</h1>
            <p class="lead fw-normal text-muted mb-0">En este apartado os muestro en que proyectos me encuentro
                trabajando y que estoy estudiando por cuenta propia</p>
        </div>
    </div>
</section>
<app-now-working-section-items></app-now-working-section-items>
<app-now-working-section-items></app-now-working-section-items>
<br/><br/>
