<!-- Pricing section-->
<section class="py-5">
    <div class="container px-5">
        <div class="text-center mb-2">
            <h1 class="fw-bolder">Trabajando en...</h1>
            <p class="lead fw-normal text-muted mb-0">En este apartado os muestro en que proyectos me encuentro
                trabajando y que estoy estudiando por cuenta propia</p>
        </div>
    </div>
</section>
<section>
    <div class="container mt-1">
        <header class="mb-2">
            <!-- Post title-->
            <h3 class="fw-bolder mb-1">Desarrollando / Implementando</h3>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">Proyectos en los que estoy trabajando implementando nuevas funcionalidades y mejorando las existentes</div>
            <!-- Post categories-->
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>&nbsp;
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
        </header>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="assets/img/now-working/solid.webp" alt="..."></a>
                    <div class="card-body">
                        <div class="small text-muted">January 1, 2022</div>
                        <h4 class="card-title">Featured Post Title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                        <a class="btn btn-primary" href="#!">Read more →</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="assets/img/now-working/nestjs.webp" alt="..."></a>
                    <div class="card-body">
                        <div class="small text-muted">January 1, 2022</div>
                        <h4 class="card-title">Featured Post Title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                        <a class="btn btn-primary" href="#!">Read more →</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="assets/img/now-working/devops.webp" alt="..."></a>
                    <div class="card-body">
                        <div class="small text-muted">January 1, 2022</div>
                        <h4 class="card-title">DevOps con Docker, Jenkins, Kubernetes, git, GitFlow CI y CD
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                        <a class="btn btn-primary" href="#!">Read more →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-1">
        <header class="mb-2">
            <!-- Post title-->
            <h3 class="fw-bolder mb-1">Estudiando</h3>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">Cursos / Libros en los que estoy dedicando tiempo para adquirir nuevos conocimientos</div>
            <!-- Post categories-->
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>&nbsp;
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
        </header>
        <div class="row mb-4">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="assets/img/now-working/solid.webp" alt="..."></a>
                    <div class="card-body">
                        <div class="small text-muted">January 1, 2022</div>
                        <h4 class="card-title">Featured Post Title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                        <a class="btn btn-primary" href="#!">Read more →</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="assets/img/now-working/nestjs.webp" alt="..."></a>
                    <div class="card-body">
                        <div class="small text-muted">January 1, 2022</div>
                        <h4 class="card-title">Featured Post Title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                        <a class="btn btn-primary" href="#!">Read more →</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="assets/img/now-working/devops.webp" alt="..."></a>
                    <div class="card-body">
                        <div class="small text-muted">January 1, 2022</div>
                        <h4 class="card-title">DevOps con Docker, Jenkins, Kubernetes, git, GitFlow CI y CD
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                        <a class="btn btn-primary" href="https://www.udemy.com/course/devops-con-dockers-kubernetes-jenkins-y-gitflow-cicd/">Más información →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br/><br/>
