<div class="row">
  <div class="col-md-2">
    <img
      loading="lazy"
      class="img-fluid rounded-3 mb-3 mb-md-0"
      src="{{ info.image }}"
      alt="{{ info.title }}"
      onerror="this.src='/assets/img/default.webp'" />
  </div>
  <div class="col-md">
    <h3>{{ info.title }}</h3>
    <p>
      <i class="fa-solid fa-hammer"></i>&nbsp; <b>{{ info.year }}</b>
    </p>
    <app-badge
      *ngFor="let badge of info.tags"
      [label]="badge.label"
      [backgroundColor]="badge.color"></app-badge>
    <p [innerHTML]="info.description"></p>
    <button
      type="button"
      (click)="openExternal(info.externalRouter)"
      class="btn btn-anartz">
      {{ btnDetailsLabel | translate }}
    </button>
    <button
      *ngIf="info.git && info.git !== ''"
      type="button"
      (click)="openExternal(info.git)"
      class="btn btn-outline-anartz ms-3">
      {{ btnExternalLabel | translate }}
    </button>
  </div>
</div>

<hr />
