.icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  grid-gap: 1rem;
  margin-top: 1.5rem;
  width: 100%;
}

.icons .icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.svg-inline--fa,
.iconify {
  font-size: xx-large;
}
