<section class="mt-4 py-5">
  <div class="container">
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-3">
      {{ 'titles.workExperience' | translate }}
    </h2>
    <p class="lead">{{ 'workExperienceElements.intro' | translate }}</p>
    <ul class="timeline">
      <li *ngFor="let work of works">
        <div
          class="timeline-badge"
          [ngClass]="{
            success: work.isCurrentWork,
            danger: !work.isCurrentWork
          }">
          <i
            class="fa-solid"
            [ngClass]="{
              'fa-square-check': work.isCurrentWork,
              'fa-circle-stop': !work.isCurrentWork
            }"></i>
        </div>
        <div class="timeline-panel row g-0">
          <div class="col-md-1">
            <img
              [src]="work.logotype"
              class="img-fluid rounded-start shadow-sm p-3 mb-5 bg-white rounded"
              [alt]="work.companyName" />
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <div class="timeline-heading">
                <h4 class="timeline-title">{{ work.companyName }}</h4>
                <p>
                  <small class="text-muted"
                    ><i class="fa-solid fa-person-digging"></i>
                    {{ work.workingData.start }} -
                    {{ work.workingData.finish }}</small
                  >
                </p>
              </div>
              <div class="timeline-body">
                <div [innerHtml]="work.principalFunctionsDetails"></div>
                <div class="row" *ngIf="work.moreDetails !== ''">
                  <div class="col-lg"></div>
                  <div class="col-lg-4">
                    <a
                      class="btn btn-success bg-dark float-end"
                      data-bs-toggle="collapse"
                      href="#{{ work.collapseMoreDetailsId }}"
                      role="button"
                      aria-expanded="false"
                      [attr.aria-controls]="work.collapseMoreDetailsId"
                      ><i class="fa-solid fa-circle-info"></i>
                      {{ 'buttons.moreDetails' | translate }}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr *ngIf="work.moreDetails !== ''" />
          <div class="row" *ngIf="work.moreDetails !== ''">
            <div class="col">
              <div
                class="collapse multi-collapse mt-2"
                id="{{ work.collapseMoreDetailsId }}"
                [innerHtml]="work.moreDetails"></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
