<footer class="bg-dark py-3 mt-auto fixed-bottom">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; {{title}} {{ currentYear }}</div></div>
            <div class="col-auto">
                <a class="link-light small" href="https://cursos.anartz-mugika.com/twitter" target="_blank">Twitter</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="https://cursos.anartz-mugika.com/youtube" target="_blank">Youtube</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="https://cursos.anartz-mugika.com/github" target="_blank">Github</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="https://cursos.anartz-mugika.com/medium" target="_blank">Medium</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contacto</a>
            </div>
        </div>
    </div>
</footer>