<app-home-header></app-home-header>

<!-- Content section-->
<section class="py-2">
  <div class="container my-5">
    <div class="row justify-content-center">
      <h2
        class="page-section-heading text-center text-uppercase text-secondary mb-3">
        {{ 'titles.whoIAm' | translate }}
      </h2>
      <div
        [innerHtml]="
          'personal.presentation' | translate | join: '' | sanitizeHtml
        "></div>
    </div>
  </div>
</section>
<hr />
<section>
  <app-home-skills></app-home-skills>
</section>
<hr />
<app-home-portfolio></app-home-portfolio>
<hr />
<app-work-experience></app-work-experience>
<!-- Content section-->
<section class="py-5" *ngIf="1 !== 1">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>Engaging Background Images</h2>
        <p class="lead">
          The background images used in this template are sourced from Unsplash
          and are open source and free to use.
        </p>
        <p class="mb-0">
          I can't tell you how many people say they were turned off from science
          because of a science teacher that completely sucked out all the
          inspiration and enthusiasm they had for the course.
        </p>
      </div>
    </div>
  </div>
</section>
