<app-home-header></app-home-header>

<!-- Content section-->
<section class="py-2">
  <div class="container my-5">
    <div class="row justify-content-center">
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-3">¿Quién soy?</h2>

      <p class="lead">I am experienced in leveraging agile frameworks to provide a robust synopsis for high
        level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the
        overall value proposition.</p>

    </div>
  </div>
</section>
<hr>
<app-home-portfolio></app-home-portfolio>
<hr>
<app-work-experience></app-work-experience>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>Engaging Background Images</h2>
        <p class="lead">The background images used in this template are sourced from Unsplash and are open
          source and free to use.</p>
        <p class="mb-0">I can't tell you how many people say they were turned off from science because of a
          science teacher that completely sucked out all the inspiration and enthusiasm they had for the
          course.</p>
      </div>
    </div>
  </div>
</section>